// Base styles

@import 'helpers/settings';

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: $gray-dark;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
  font-family: $sans;
  background: $gray-lite;
}

p {
  em {
    font-style: italic;
  }
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

%smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Browser alert
.alert-warning {
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  color: $black;
  padding: 50px;
  text-align: center;
  background: $brand-primary;
}
.alert {
  padding: 50px;
  background: #fff;
}

// Disable scrolling when modals are active
.no-scroll {
  overflow: hidden;
}

// Utility classes
.hide {
  display: none;
}

.site-wrap {
  @include gridle_grid(23);
}
.content {
  @include clearfix();
}
