// Footer

.site-footer {
  @include clearfix;
  @include small-caps;

  a {
    text-decoration: none;
    transition: all .1s;
    &:hover {
      color: $blue;
    }
  }
  h3 {
    @include small-caps;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-dark;
  }
  ul {
    margin: 0;
    padding: 0;
  }

  @include media-md {
    padding: #{$vertical-beat * 16} #{$column-width * 1} #{$vertical-beat * 16} 0;

    h2.tab {
      top: 0;
    }
  }

  .copyright {
    p {
      padding: 30px 0 0 0;
      font: 9px/16px $sans;
    }
    @include column(12);
    @include media-md {
      padding-left: #{$column-width * 1};
    }
  }
  .office,
  .contact {
    @include column(4);
    padding-right: #{$column-width * 1};
  }
  .social {
    @include column(3);
  }
  .icon-vestedworld {
    width: 165px;
    height: 25px;
    fill: $gray-dark;
  }
}