// Footer

.site-footer {
  @include clearfix;
  @include small-caps;
  position: relative;
  padding: #{$vertical-beat * 16} #{$mobile-column-width * 1} #{$vertical-beat * 20};

  a {
    text-decoration: none;
    transition: all .1s;
    &:hover {
      color: $blue;
    }
  }
  h3 {
    @include small-caps;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-dark;
  }
  ul {
    margin: 0;
    padding: 0;
  }

  @include media-md {
    padding: #{$vertical-beat * 16} #{100% / 24 * 1} #{$vertical-beat * 16} 0;

    h2.tab {
      top: 0;
    }
  }

  .footer-logo {
    @include column(12);
    @include media-md {
      padding-left: #{$column-width * 1};
    }
  }
  .copyright {
    font: 9px/16px $sans;
    @include media-md {
      position: absolute;
      left: #{$column-width * 1};
      top: #{$vertical-beat * 23};
    }
  }
  .office,
  .contact {
    @include column(4);
    @include media-md {
      padding-right: #{$column-width * 1};
    }
  }
  .social {
    @include column(3);
  }
  // Mobile spacing
  .copyright,
  .office,
  .contact,
  .social {
    padding-top: #{$vertical-beat * 6};
    @include media-md {
      padding-top: 0;
    }
  }
  .icon-vestedworld {
    width: 112px;
    height: 16px;
    fill: $gray-dark;
    @include media-md {
      width: 165px;
      height: 25px;
    }
  }
}