// Header

.site-header {
  @include clearfix;

  padding: 16px #{$column-width * 1} 16px 24px;
  height: 62px;
  background: $gray-lite;

  .logo {
    font: 1px/1 $sans; // override default h1 style
    @include media-md {
      width: 50%;
      float: left;
    }
  }

  h1 {
    margin: 0;
  }
  @include media-sm {
  }

  @include media-md {
  }

  .icon-logo {
    width: 22px;
    height: 22px;
    margin-right: 16px;
    vertical-align: middle;
    fill: $blue;
  }
  .icon-vestedworld {
    width: 145px;
    height: 30px;
    vertical-align: middle;
    fill: $blue;
  }
}

