// Header

.site-header {
  @include gridle_grid(23);
  @include clearfix();

  height: 62px;
  background: $gray-lite;
  padding: 16px 0 16px 24px;

  .logo {
    width: 50%;
    float: left;
  }

  h1 {
    margin: 0;
  }
  @include media-small {
  }

  @include media-medium {
  }

  .icon-logo {
    width: 22px;
    height: 22px;
    margin-right: 16px;
    vertical-align: middle;
    fill: $blue;
  }
  .icon-vestedworld {
    width: 145px;
    height: 30px;
    vertical-align: middle;
    fill: $blue;
  }
}

