// General item grids (people, companies, etc)

.page-sections {
  position: relative;
}

.grid-section {
  padding: #{$vertical-beat * 8} $mobile-global-padding;
  @include media-md {
    margin-top: #{$vertical-beat * 8};
    padding: #{$vertical-beat * 8} $global-padding;
    &::before {
      left: 0;
      height: 1px;
      width: 32px;
      content: '';
      position: absolute;
      background: $gray-dark;
      bottom: #{$vertical-beat * 8};
    }
  }
  .grid-items {
    margin: 0;
    padding: 0;
    @include clearfix();
    @include media-md {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .grid-item {
    h1 {
      @extend .h2;
    }
    .grid-item-body {
      display: none;
    }
  }
}

.grid-item-data {
  h2 {
    margin: 0;
    @include small-caps();
    line-height: 1.5em;
  }
  .grid-image {
    img {
      vertical-align: top;
    }
  }
}

.grid-intro {
  @include clearfix();
  > p {
    @extend .h2;
    margin-top: 0;
    color: $brand-primary;
    @include media-md {
      width: 50%;
    }
  }

  .section-link {
    display: inline-block;
    margin-bottom: $vertical-beat * 4;
    @include media-md {
      float: right;
      margin: #{-$vertical-beat * 9} 0 #{$vertical-beat * 8};
    }
  }
}
.grid-item {
  height: 0;
  overflow: hidden;
  min-height: 200px;
  position: relative;
  outline: 1px solid $white;
  padding: 0 30px 71.4285714%;
  @include media-md {
    max-width: 50%;
    flex-basis: 50%;
    padding: 0 30px 35.7142857%;
  }
  @include media-lg {
    max-width: 33.3%;
    flex-basis: 33.3%;
    padding: 0 30px 23.809523776%;
  }

  &:hover,
  &:focus {
    .grid-item-image::before {
      opacity: 0;
    }
  }

  .grid-item-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    position: absolute;
    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      content: '';
      position: absolute;
      transition: opacity .35s ease-out;
      background: rgba($blue-dark, .75);
    }
    .grid-item-image-inner {
      height: 100%;
      position: relative;
    }
    img {
      left: 50%;
      width: auto;
      max-width: none;
      min-width: 100%;
      min-height: 100%;
      position: relative;
      transform: translateX(-50%);
    }
  }

  h1 {
    color: $white;
    margin-top: 30px;
    position: relative;
  }

  .callout {
    display: none;
  }

  .grid-item-activate {
    left: 30px;
    bottom: 30px;
    position: absolute;
  }
}

// Active Grid Container
.active-grid-item-container {
  z-index: 10;
  display: none;
  position: absolute;
  background: $white;
  margin-right: $mobile-global-padding;
  @include media-md {
    margin-right: #{$global-padding * 2};
  }
  &.-active {
    display: block;
    .grid-item-data {
      h1:not(.section-title) {
        margin-bottom: .25em;
        color: $brand-primary;
      }
    }
  }

  .grid-item-activate {
    display: none;
  }
  .grid-item-deactivate {
    top: -7px;
    padding-left: 7px;
    position: absolute;
    height: $mobile-global-padding;
    width: $mobile-global-padding;
    right: -$mobile-global-padding;
    @include media-md {
      transform: translateX(50%);
      right: -#{$global-padding / 2};
    }
  }

  // If .solo, no need for nav
  &.solo .grid-nav {
    display: none;
  }

  .grid-nav {
    top: 0;
    bottom: 0;
    position: absolute;
    width: $mobile-global-padding;
    right: -$mobile-global-padding;
    > div {
      left: 50%;
      color: $white;
      cursor: pointer;
      position: absolute;
      white-space: nowrap;
      @include small-caps();
      transform-origin: top left;
      transform: rotate(-90deg) translateY(-50%);
      &.previous-item {
        top: 196px;
      }
      &.next-item {
        bottom: 0;
      }
    }

    @include media-md {
      width: $global-padding;
      right: -$global-padding;
    }
  }
  .grid-item-data {
    @include media-md {
      display: flex;
    }

    // State change animations
    &.exitRight {
      .callout-inner,
      .callout,
      .grid-item-text h1,
      .grid-item-text div,
      .grid-item-text ul,
      .grid-item-text h2 {
        animation: exitRight .5s forwards;
      }
      .body-inner .user-content {
        animation: exitRight .5s forwards .1s;
      }
    }
    &.exitLeft {
      .callout-inner,
      .callout,
      .grid-item-text h1,
      .grid-item-text div,
      .grid-item-text ul,
      .grid-item-text h2 {
        animation: exitLeft .5s forwards;
      }
      .body-inner .user-content {
        animation: exitLeft .5s forwards .1s;
      }
    }
    &.enterRight {
      .callout-inner,
      .callout,
      .grid-item-text h1,
      .grid-item-text div,
      .grid-item-text ul,
      .grid-item-text h2 {
        opacity: 0;
        animation: enterRight $cubic-ease1 .6s forwards .1s;
      }
      .body-inner .user-content {
        opacity: 0;
        animation: enterRight $cubic-ease1 .6s forwards .25s;
      }
      .grid-item-image-inner {
        animation: zoomInFade .5s forwards;
      }
    }
    &.enterLeft {
      .callout-inner,
      .callout,
      .grid-item-text h1,
      .grid-item-text div,
      .grid-item-text ul,
      .grid-item-text h2 {
        opacity: 0;
        animation: enterLeft $cubic-ease1 .6s forwards .1s;
      }
      .body-inner .user-content {
        opacity: 0;
        animation: enterLeft $cubic-ease1 .6s forwards .25s;
      }
      .grid-item-image-inner {
        animation: zoomInFade .5s forwards;
      }
    }
  }
  .-left,
  .grid-item-body {
    @include media-md {
      max-width: 50%;
      flex-basis: 50%;
    }
  }
  .grid-item-inner {
    padding: 0;
    overflow: hidden;
  }
  .grid-item-body {
    overflow: hidden;
    position: relative;
    background: $gray-lite;
    padding: #{$vertical-beat * 8} $mobile-global-padding;
    h1 {
      color: $white;
    }
    h2:not(.tab),
    h3:not(.tab) {
      color: $blue;
      margin-bottom: 0;
      @include small-caps();
      font-size: 16px;
    }
    ul,
    ol,
    p {
      margin-top: 0;
      margin-bottom: #{$vertical-beat * 3};
    }
    @include media-md {
      padding: #{$vertical-beat * 8} $global-padding;
    }
  }
  .body-inner {
    overflow: hidden;
  }

  .grid-item {
    outline: none;
  }
  .grid-item-image {
    height: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: $blue-dark;
    padding-bottom: 56.8181818%;
    .grid-item-image-inner {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      height: auto;
      position: absolute;
      &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        content: '';
        position: absolute;
        transition: opacity .35s ease-out;
        background: rgba($blue-dark, .1);
      }
    }
    img {
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    }
  }
  .grid-item-text {
    position: relative;
    padding: #{$vertical-beat * 4} $mobile-global-padding;
    @include media-md {
      padding: #{$vertical-beat * 4} $global-padding;
    }
    h1 {
      margin: 0;
      @extend .h2;
    }
  }

}