// People grid

.grid-wrap.people {
  // left these here for reference on how to override grid for people if needed... maybe useless
  .grid-item.person {}
}

.people:not(.management) {
  .grid-items {
    padding-top: 30px;
    border-top: 1px solid $gray-dark;
  }

  .grid-item.person {}
}

// left off removing duplicate content in _item-grid.scss here...

// Active Person Container
.active-person-container {
  z-index: 10;
  display: none;
  position: absolute;
  background: $white;
  margin-right: $mobile-global-padding;
  @include media-md {
    margin-right: $column-width;
  }
  &.-active {
    display: block;
  }

  .person-activate {
    display: none;
  }
  .person-deactivate {
    top: -7px;
    padding-left: 7px;
    position: absolute;
    height: $mobile-global-padding;
    width: $mobile-global-padding;
    right: -$mobile-global-padding;
    @include media-md {
      transform: translateX(50%);
      right: -#{$column-width / 2};
    }
  }

  // If .solo, no need for nav
  &.solo .post-nav {
    display: none;
  }


  .-left,
  .bio {
    @include media-md {
      max-width: 50%;
      flex-basis: 50%;
    }
  }
  .quote {
    overflow: hidden;
    padding: #{$vertical-beat * 8} #{$column-width * 2} 0;
  }
  .person-inner {
    padding: 0;
    overflow: hidden;
  }
  .callout {
    @extend .h1;
    color: $white;
    font-size: 24px;
    line-height: 1.333333333em;
    background: $brand-primary;
    padding: #{$vertical-beat * 8} $mobile-global-padding;
    @include media-md {
      font-size: 48px;
      line-height: 48px;
      padding: #{$vertical-beat * 8} $global-padding;
    }
  }
  .quote {
    display: none;
  }
  .person-text header {
    overflow: hidden;
  }
  .bio {
    overflow: hidden;
    position: relative;
    background: $gray-lite;
    padding: #{$vertical-beat * 8} $mobile-global-padding;
    h1 {
      color: $white;
    }
    h2,
    h3 {
      color: $blue;
      margin-bottom: 0;
      @include small-caps();
      font-size: 16px;
    }
    p {
      margin-top: 0;
      margin-bottom: #{$vertical-beat * 3};
    }
    @include media-md {
      padding: #{$vertical-beat * 8} $global-padding;
    }
  }
  .bio-inner {
    overflow: hidden;
  }

  .person {
    outline: none;
  }
  .person-image {
    height: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: $blue-dark;
    padding-bottom: 56.8181818%;
    .person-image-inner {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      height: auto;
      position: absolute;
      &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        content: '';
        position: absolute;
        transition: opacity .35s ease-out;
        background: rgba($blue-dark, .1);
      }
    }
    img {
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    }
  }
  .person-text {
    padding: #{$vertical-beat * 4} $mobile-global-padding;
    @include media-md {
      padding: #{$vertical-beat * 8} $global-padding;
    }
    h1 {
      margin: 0;
      @extend .h2;
    }
  }

}