// UI Components

.btn {
  @include small-caps();
  font-size: 16px;
  @extend %smooth;
  background: none;
  color: $gray-dark;
  position: relative;
  line-height: 1.5em;
  text-decoration: none;
  padding: 6px 50px 4px 10px;
  border: 1px solid $gray-dark;
  transition: background .1s ease-out, color .1s ease-out;
  &::after {
    top: 6px;
    right: 10px;
    content: '>';
    position: absolute;
    pointer-events: none;
  }
  &:hover {
    color: $white;
    background: $gray-dark;
  }
  &:focus {
    outline: none;
  }

  &.-white {
    color: $white;
    border-color: $white;
    &:hover {
      color: $gray-dark;
      background: $white;
    }
  }
  &.-blue {
    color: $blue;
    border-color: $blue;
    &:hover {
      color: $white;
      background: $blue;
    }
  }
}

// Plus buttons
.plus-button {
  padding: 0;
  border: none;
  background: none;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
  &.-expandable.expanded .plus {
    &::after {
      transform: translateY(-50%) rotate(0);
    }
  }
  &.close {
    .plus {
      transform: rotate(45deg);
    }
  }
  .plus {
    width: 18px;
    height: 18px;
    position: relative;
    &:before,
    &:after {
      left: 0;
      top: 50%;
      content: '';
      width: 18px;
      height: 2px;
      position: absolute;
      background: $white;
      transition: transform .2s ease-out, background .2s ease-out;
    }
    &::before {
      transform: translateY(-50%);
    }
    &::after {
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

.loading {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  z-index: 10000;
  position: fixed;
  border-radius: 50%;
  animation: spin .5s linear infinite;
  border-right: 3px solid $brand-primary;
  border-bottom: 3px solid $brand-primary;
  transform: translate(-50%, -50%) rotate(0);
}