// About Page

// Management grid
.people.management {

  @include media-md {
    &::before {
      left: 0;
      height: 1px;
      width: 25px;
      content: '';
      bottom: #{$vertical-beat * 8};
      position: absolute;
      background: $gray-dark;
    }
  }

  .person {
    width: 100%;
    padding-right: $column-width;
    border-top: 1px solid $gray-dark;
    &:first-of-type {
      border-top: none;
    }
    .-left {
      width: 100%;
      @include media-md {
        display: flex;
      }
    }
    .person-inner {
      display: flex;
      flex-direction: column;
      @include min-screen(860px) {
        @include column(12);
        flex-direction: row;
      }
    }
    .person-text {
      order: 1;
      min-width: 150px;
      position: relative;
      padding: 30px 0 80px;
      @include min-screen(860px) {
        order: 0;
      }
    }
    .callout {
      display: none;
    }
    .quote {
      @extend .h2;
      padding: 30px 0;
      color: $brand-primary;
      @include media-md {
        padding-left: 30px;
        @include column(11);
      }
    }
    button {
      left: 0;
      bottom: 30px;
      position: absolute;
    }
    .person-image {
      order: 0;
      width: 100%;
      text-align: left;
      padding-top: 30px;
      align-self: flex-end;
      @include min-screen(860px) {
        order: 1;
        width: auto;
        padding-top: 0;
        text-align: right;
        img {
          max-height: none;
        }
      }
    }
  }
  .people-grid {
    border-top: 1px solid $gray-dark;
    border-bottom: 1px solid $gray-dark;
  }
}

// Active person mods for management
.active-person-container {
  .person-data.management {
    .person-inner {
      background: $white;
      padding: #{$vertical-beat * 8} #{$column-width * 2} 0;
    }
    .-left {
      background: $brand-primary;
    }
    .person-text {
      padding: 0;
    }
    .person-image {
      height: auto;
      background: none;
      padding-bottom: 0;
      .person-image-inner {
        position: static;
      }
      img {
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
        position: relative;
      }
    }
  }
}

// No-touch mod for fixed background
.no-touch {
 .page.about-us .page-section .image-wrap {
    background-attachment: fixed;
 }
}