// Community Page

.page.community {
  .active-grid-item-container {
    .grid-item-data {
      .grid-item-text {
        h1 {
          border-bottom: 1px solid $gray;
          margin-bottom: #{$vertical-beat * 4};
          padding-bottom: #{$vertical-beat * 4};
        }
        .callout {
          padding: 0;
          font-size: 14px;
          background: none;
          color: $gray-dark;
          line-height: 1.5em;
          h2,
          h3 {
            color: $blue;
            margin-bottom: 0;
            @include small-caps();
            &:first-of-type {
              margin-top: 1em;
            }
          }
          h2 {
            font-size: 16px;
          }
          p {
            margin-top: 0;
          }
        }
      }

    }
  }
}

// Image-is-logo single post styling
.active-grid-item-container {
  .grid-item-data.image-is-logo {
    .grid-item-image {
      padding: 0;
      height: auto;
      background: rgba($blue-dark, .1);
      .grid-item-image-inner {
        position: relative;
        padding: $global-padding $mobile-global-padding $mobile-global-padding;
        &::before {
          display: none;
        }
        img {
          top: auto;
          left: auto;
          height: auto;
          min-width: 1px;
          min-height: 1px;
          transform: none;
          max-width: 200px;
          position: relative;
        }
      }

      @include media-md {
        .grid-item-image-inner {
          text-align: center;
          padding: $global-padding;
        }
      }
    }
  }
}

// Image-is-logo listing styling
.image-is-logo .grid-item-image {
  background: rgba($blue-dark, .1);
  .grid-item-image-inner {
    img {
      top: 50%;
      height: auto;
      min-width: 1px;
      min-height: 1px;
      max-width: 200px;
      transform: translate(-50%, -50%);
    }
  }
}
