// Countries Page

// Single Country
body.single-country {
  // todo: consolidate these for all single pages...

  // Faux overlay styling
  .site-wrap {
    background: rgba($overlay-color,.9);
    padding: #{$vertical-beat * 8} 0;
  }
  // We don't want position: absolute
  .active-grid-item-container {
    position: relative;
  }
}

// Single country styles
article.single.country {
  .section-title {
    color: $blue;
    background: $white;
  }
  // Reverse color scheme for main content areas
  .-left {
    background: $gray-lite;
  }
  .grid-item-body {
    background: $white;
    .tab {
      color: $white;
    }
  }
  // Large blue box in left column
  .intro-text {
    background: $blue;
    color: $white;
    h2 {
      @extend .h1;
      text-transform: none;
      letter-spacing: 0;
      margin-bottom: #{$vertical-beat * 4};
      @extend %smooth;
      @include media-md {
        margin-bottom: #{$vertical-beat * 6};
      }
    }
  }
  .timeline {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid $gray-dark;
    padding-bottom: #{$vertical-beat * 2};
    dt {
      @extend .h2;
      flex: 0 1 22%;
      color: $blue;
      border-right: 1px solid $blue;
      position: relative;
      clear: left;
      min-height: 70px;
      padding-bottom: #{$vertical-beat * 5};
      &:last-of-type::before,
      &:first-of-type::before {
        display: block;
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        background: $gray-lite;
        top: 0;
        right: -10px;
      }
      &:last-of-type {
        padding: 0;
        &::before {
          top: 20px;
          height: calc(100% - 20px);
        }
      }
      &::after {
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        background: $gray-lite;
        top: 15px;
        right: -4px;
        border: 1px solid $blue;
        border-radius: 50%;
      }
    }
    dd {
      margin: 0;
      flex: 0 1 77%;
      padding: 4px 0 #{$vertical-beat * 5} $global-padding;
    }
  }
  .grid-item-body {
    padding: 0;
  }
  .grid-text-group {
    position: relative;
    padding: $mobile-global-padding;
    @include media-md {
      padding: #{$vertical-beat * 5} $global-padding;
    }
  }
  // Country Overview
  .country-overview-stats {
    border-top: 1px solid $gray-lite;
    border-bottom: 1px solid $gray-lite;
    margin: #{$vertical-beat * 2} 0;
  }
  .row {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid $gray-lite;
  }
  .stat-num {
    @extend .h2;
    color: $blue;
    &.dark {
      color: $blue-dark;
    }
  }
  .stat-label {
    @include small-caps;
    line-height: 1.45;
  }
  .population-chart {
    flex: 0 1 77.7%;
    border-right: 1px solid $gray-lite;
    padding: #{$vertical-beat * 6} 0;
  }
  .median-age {
    padding: #{$vertical-beat * 6} $mobile-global-padding;
    flex: 0 1 22.2%;
    .stat-num {
      margin-bottom: #{$vertical-beat * 1};
    }
  }
  .poverty-chart,
  .workforce-chart {
    padding: #{$vertical-beat * 3} 0;
    flex: 0 1 50%;
    .circle-graph {
      // width: ;
    }
  }
  .poverty-chart {
    border-right: 1px solid $gray-lite;
  }
  .workforce-chart {
  }
  .income-level-classification {
    .stat-label {
      flex: 0 1 33.3%;
    }
    ul,li {
      margin: 0;
      padding: 0;
    }
    ul {
      padding: #{$vertical-beat * 3} 0;
      border-bottom: none;
      li {
        @include small-caps;
        line-height: 1.45;
        flex: 0 1 16.67%;
        color: $gray-lite;
        align-self: center;
        text-align: center;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          width: 1px;
          height: 30px;
          margin-top: -15px;
          background: $gray-lite;
        }
        &.stat-label {
          text-align: left;
          color: $black;
          &::before {
            background: none;
          }
        }
        &.active {
          color: $blue;
        }
      }
    }
  }
}

.grid-item {
  &.country {
    // grid overrides? probably ok to delete this
  }
}
