// FAQs Page

.page.faqs {

  ul.faq-sections.resource-categories {
    padding-bottom: 0;
  }

  .more-questions {
    padding: $mobile-global-padding;
    a {
      transition: .2s ease-out;
      text-decoration: underline;
      &:hover,
      &:focus {
        color: $brand-primary;
      }
    }

    @include media-md {
      padding: $global-padding;
    }
  } 
}