// FAQs Page

.page.faqs {

  header.page-header {
    color: $blue;
    @include clearfix();
    padding: #{$vertical-beat * 7} $mobile-global-padding #{$vertical-beat * 4};

    @include media-md {
      padding: #{$vertical-beat * 8} $global-padding #{$vertical-beat * 8};

      h1 {
        margin-bottom: 0;
        @include column(12);
      }
    }
  }
  .site-main {
    background: $white;
  }

  ul.faq-list,
  ul.faq-categories {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul.faq-categories {
    > li {
      margin-bottom: #{$vertical-beat * 8};
    }
    section {
      @include clearfix;
      position: relative;
      padding: 32px $mobile-global-padding 0 $mobile-global-padding;
      h3.tab {
        top: 0;
        z-index: 1;
        margin-bottom: 0;
        background: $blue;
        position: absolute;
        display: inline-block;
        left: $mobile-global-padding;
      }
      &.inView {
        h3.tab {
          position: fixed;
        }
      }

      @include media-md {
        &::after {
          left: 0;
          bottom: 0;
          content: "";
          height: 1px;
          background: $gray;
          position: absolute;
          width: #{$vertical-beat * 4};
        }
        h3.tab {
          top: 0;
          left: auto;
          right: 100%;
        }
        padding: 0 $global-padding;
      }
    }
  }
  ul.faq-list {
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;

    >li {
      @include clearfix;
      position: relative;
      padding: #{$vertical-beat * 3} 0;
      border-bottom: 1px solid $gray-lite;
      &:last-of-type {
        border-bottom: none;
      }
    }
    h2 {
      @include column(10, 21);
      a {
        color: $blue;
        text-decoration: underline;
      }
      .icon {
        display: none;
      }
    }
    h3 {
      text-transform: none;
      letter-spacing: 0;
      color: $blue;
      margin-bottom: 0;
      +ul {
        margin-top: 0;
      }
    }
    .faq-answer {
      @include column(10,21);
      height: 0;
      overflow: hidden;
      > p {
        margin-top: 0;
      }
    }
    li.active {
      .faq-answer {
        height: auto;
      }
    }

    @include media-md {
      .faq-answer {
        padding-left: #{$column-width * 1};
      }
      h2 {
        padding-right: #{$column-width * 2};
        .icon {
          display: block;
          position: absolute;
          top: 0;
          right: 32px;
          text-decoration: none;
        }
      }
    }
  }
}

.resource-filter {
  @include media-md {
    @include column(10);
  }

  @include clearfix();
  label, select {
    float: left;
    color: $brand-primary;
    @include small-caps();
    font-size: 16px;
    padding: #{$vertical-beat * 1};
    border: 1px solid $brand-primary;
  }
  select {
    border-left: none;
    padding-right: 34px;
  }
}