// FAQs Page

.page.faqs {

  .resource-filter {
    @include media-md {
      label, select {
        letter-spacing: 0;
      }
    }
    @include min-screen(1070px) {
      label, select {
        letter-spacing: .2em;
      }
    }
  }

  ul.faq-sections.resource-categories {
    padding-bottom: 0;
  }

  .more-questions {
    padding: $mobile-global-padding;
    a {
      transition: .2s ease-out;
      text-decoration: underline;
      &:hover,
      &:focus {
        color: $brand-primary;
      }
    }

    @include media-md {
      padding: $global-padding;
    }
  } 
}