// Home page

.home.page {

  .icon-target, .icon-connect, .icon-invest {
    height: 100px; width: 100px;
  }

  // Slider
  .slick-slider {
    margin: 0;
  }
  .slick-dots {
    margin: 0;
    padding: 0;
    bottom: 40px;
    left: #{$mobile-column-width * 1};
    width: 200px;
    text-align: left;
    @include media-md {
      bottom: 40px;
      left: #{$column-width * 1};
    }
    li {
      display: inline-block;
      button::before {
        content: '';
        border-radius: 50%;
        display: block;
        height: 8px;
        width: 8px;
        border: 1px solid $white;
        opacity: 1;
      }
      &.slick-active button::before {
        background: $white;
      }
    }
  }
  .slide-item {
    position: relative;
    h3.tab {
      background: $white;
      color: $blue;
    }
    img {
      width: 100%;
    }
    .slide-text {
      @include column(12);
      padding: #{$vertical-beat * 4} #{$mobile-column-width * 1} #{$vertical-beat * 6};

      background: rgba($blue,.85);
      color: $white;
      p.headline {
        margin: 0 0 40px 0;
      }
      .learn-more-wrap {
        text-align: right;
      }
      @include media-md {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: #{$vertical-beat * 6} #{$column-width * 1} #{$vertical-beat * 8};
        p.headline {
          font: 48px/48px $sans;
          margin: -6px 0 64px 0;
        }
      }
    }
  }

  // What We Do block
  .what-we-do {
    @include column(12);
    article {
      margin: 0 #{$mobile-column-width * 1};
      padding: #{$vertical-beat * 4} 0 #{$vertical-beat * 6} 0;
      border-top: 1px solid $gray-dark;
      position: relative;
      h2 {
        color: $blue;
      }
      &:first-of-type {
        margin-top: 0;
      }
      img {
        position: absolute;
        top: 0;
        right: 0;
        width: #{$mobile-column-width * 2};
      }
    }

    @include media-md {
      padding: #{$vertical-beat * 6} 0 #{$vertical-beat * 8} #{$column-width * 1};
      article {
        padding: #{$vertical-beat * 6} #{$column-width * 1 * $num_columns/10} #{$vertical-beat * 8} #{$column-width * 2 * $num_columns/10};
        img {
          top: 64px;
          right: auto;
          left: 0;
          width: #{$column-width * 1.5 * $num_columns/10};
        }
      }
    }
  }
  // Wrapper for Join & Featured slider
  .home-features {
    @include column(11);
  }
  .join {
    position: relative;
    background: $blue;
    color: $white;
    padding: #{$vertical-beat * 6} #{$mobile-column-width} #{$vertical-beat * 8};
    @include media-md {
      padding: #{$vertical-beat * 6} #{$column-width * 1 * $num_columns/11} #{$vertical-beat * 8};
    }
  }
  .newsletter {
    margin: #{$vertical-beat * 4} 0 0;
    height: 80px;
    width: 100%;
    border: 1px solid $white;
    position: relative;
    @include media-md {
      margin: #{$vertical-beat * 8} 0 0;
    }
    input[type=email] {
      background: none;
      border: none;
      font: 22px/78px $sans;
      padding: 0 30px;
      color: $white;
      outline: none;
      &::placeholder {
        color: $white;
      }
      @include media-md {
        font: 32px/78px $sans;
      }
    }
    button.submit {
      position: absolute;
      right: 0;
      top: 0;
      width: #{$mobile-column-width * 2};
      padding: 0;
      background: $white;
      color: $blue;
      text-align: center;
      line-height: 78px;
      height: 78px;
      border: none;
      @include media-md {
        width: #{$column-width * 1 * $num_columns/9};
      }
    }
  }

  .featured {
    position: relative;
    padding: #{$vertical-beat * 4} #{$mobile-column-width * 1};
    h3 {
      margin-bottom: 0;
    }
    .learn-more-wrap {
      margin-top: #{$vertical-beat * 12};
      text-align: right;
    }
    @include media-md {
      min-height: 480px;
      padding: #{$vertical-beat * 8} #{$column-width * 1 * $num_columns/11};
    }
  }

}