// Industries Page

// Single industry styles
article.single.industry {

  // Breathing room for content area
  .body-inner {
    padding-bottom: 140px;
  }
  .grid-text-group {
    .user-content {
      padding-bottom: #{$vertical-beat * 3};
      border-bottom: 1px solid $gray-lite;
    }
    &:first-child {
      .user-content {
        border-bottom: none;
      }
    }
  }

  // Industries have smaller timeline titles
  dl.timeline dt {
    font: 16px/24px $sans;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-right: 15px;
  }

  // Table o' stats
  table.industry-stats {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

    .row {
      border: none;
      flex-flow: row wrap;
      @include min-screen(1200px) {
        flex-flow: row nowrap;
      }
    }
    .stat-row {
      .stat-label,
      .stat-num {
        flex: 0 1 100%;
      }
      @include min-screen(1200px) {
        .stat-label,
        .stat-num {
          flex: 0 1 50%;
        }
      }
    }
    .chart {
      max-width: none;
      flex: 0 1 100%;
    }
    .chart-labels {
      padding-top: 24px;
      flex: 0 1 100%;
    }
    @include min-screen(1200px) {
      .chart-row {
        height: 75px;
        .chart {
          flex: 0 1 25%;
        }
        .chart-labels {
          padding-top: 0;
          flex: 0 1 75%;
          padding-left: 25%;
        }
        .stat-num {
          padding-bottom: #{$vertical-beat * 1};
        }
      }
    }

    &,
    thead {
      border-bottom: 1px solid $gray-lite;
    }
    th {
      width: 50%;
      @extend .h3;
      text-align: left;
      vertical-align: top;
      color: $blue;
      padding-bottom: #{$vertical-beat * 3};
    }
    td {
      padding: #{$vertical-beat * 3} $mobile-global-padding #{$vertical-beat * 3} 0;
    }
    td + td,
    th + th {
      padding-right: 0;
      padding-left: $mobile-global-padding;
      border-left: 1px solid $gray-lite;
    }
    tr + tr {
      border-top: 1px solid $gray-lite;
    }
  }

} // article.single.industry
