// News

.news-filter {
  background: $blue;
  color: $white;
  padding: #{$vertical-beat * 7} $mobile-global-padding;
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
  .filter,
  .search {
    border: 1px solid $white;
    padding: #{$vertical-beat * 1};
    font: 16px/24px $sans;
    letter-spacing: .2em;
    text-transform: uppercase;
    @include min-screen($breakpoint-huge) {
      width: 50%;
      float: left;
    }
  }
  .filter .select-wrapper {
    width: 70%;
    float: right;
  }
  .filter select,
  .search input {
    background: none;
    border: none;
    font: 16px/1 $sans;
    letter-spacing: .2em;
    text-transform: uppercase;
    width: 100%;
    outline: none;
  }
  .search {
    margin-top: -1px;
      input {
      &::placeholder {
        line-height: normal;
        color: $white;
      }
    }
  }

  @include media-md {
    .search {
      margin: 0 0 0 -1px;
    }
    h1 {
      margin: 0;
      width: 50%;
      float: left;
    }
    padding: #{$vertical-beat * 7} $global-padding;
  }
}

.article.post {
  @include clearfix;
  position: relative;
  margin-bottom: #{$vertical-beat * 8};
  .image-wrap {
    @include media-md {
      width: #{ $column-width * 11 };
      float: right;
    }
  }
  h1 {
    color: $blue;
  }
  h3.article-category {
    color: $blue;
    margin-bottom: #{$vertical-beat * 1};
  }
  h3.tab {
    top: #{ $vertical-beat * 8};
    background: $blue;
    color: $white;
  }
  .post-extended {
    display: none;
  }
  .article-body {
    background: $white;
    padding: #{$vertical-beat * 6} $mobile-global-padding;
    @include media-md {
      width: #{$column-width * 12};
      padding: #{$vertical-beat * 8} $global-padding #{$vertical-beat * 8};
      float: left;
    }
  }
}

.button.read-more {
  border: 1px solid $gray;
  margin-top: #{ $vertical-beat * 8 };
}

// Hide posts nav (googlebot spidering)
.posts-navigation {
  display: none;
}

.load-more {
  width: 96px;
  margin: 120px auto 20px;
  a {
    display: block;
    position: relative;
    text-decoration: none;
    font: 11px/24px $sans;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: $blue;
    text-align: center;
    padding-top: 112px;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 96px;
      height: 96px;
      border: 2px solid $blue;
      border-radius: 50%;
    }
    &::after {
      transition: top .2s;
      content: '>';
      transform: rotate(90deg);
      position: absolute;
      top: 39px;
      left: 42px;
      font-size: 30px;
      color: $blue;
      @extend %smooth;
    }
    &:hover {
      &::after {
        top: 42px;
      }
    }
  }
}