// Portfolio Page

.page.portfolio {}

// Single Company
body.single-company {
  // Faux overlay styling
  .site-wrap {
    background: rgba($overlay-color,.9);
    padding: #{$vertical-beat * 8} 0;
  }
  // We don't want position: absolute
  .active-grid-item-container {
    position: relative;
  }
}

// Single company styles
article.single.company {
  .grid-item-text {
    ul.stats {
      @include clearfix;
      border-bottom: 1px solid $gray-lite;
      margin: 0 0 #{$vertical-beat * 6};
      padding: 0;
      color: $blue;
      h3 {
        margin: 0;
        font: 11px/24px $sans;
        color: $gray-dark;
      }
      li {
        border-top: 1px solid $gray-lite;
        width: 50%;
        float: left;
        padding: #{$vertical-beat * 4} 0;
        &:nth-child(2n) {
          border-left: 1px solid $gray-lite;
          padding-left: 30px;
        }
      }
    }
    .callout {
      &,p {
        margin: 0;
        padding: 0;
      }
      font: 48px/48px $sans;
      color: $blue;
    }
  }
}

.grid-item {
  // Hide title on company thumb
  &.company {
    h1 {
      display: none;
    }
    .grid-item-image {
      background: $gray-lite;
      &::before {
        background: none;
      }
    }
  }
  // Headquarters shows on Company thumbs at bottom right
  .headquarters {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: $gray-dark;
    font: 11px/24px $sans;
    letter-spacing: .2em;
    text-transform: uppercase;
  }
}
