// Resource List Pages

.page.faqs,
.page.glossary {

  header.page-header {
    color: $blue;
    @include clearfix();
    padding: #{$vertical-beat * 7} $mobile-global-padding #{$vertical-beat * 4};

    @include media-md {
      padding: #{$vertical-beat * 8} $global-padding #{$vertical-beat * 8};

      h1 {
        margin-bottom: 0;
        @include column(12);
      }
    }
  }
  .site-main {
    background: $white;
  }

  ul.resource-list,
  ul.resource-categories {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul.resource-categories {
    padding-bottom: #{$vertical-beat * 8};
    > li {
      margin-bottom: #{$vertical-beat * 8};
    }
    section {
      @include clearfix;
      position: relative;
      padding: 32px $mobile-global-padding 0 $mobile-global-padding;
      h3.tab {
        top: 0;
        z-index: 1;
        margin-bottom: 0;
        background: $blue;
        position: absolute;
        display: inline-block;
        left: $mobile-global-padding;
      }
      &.inView {
        h3.tab {
          position: fixed;
        }
      }

      @include media-md {
        &::after {
          left: 0;
          bottom: 0;
          content: "";
          height: 1px;
          background: $gray;
          position: absolute;
          width: #{$vertical-beat * 4};
        }
        h3.tab {
          top: 0;
          left: auto;
          right: 100%;
        }
        padding: 0 $global-padding;
      }
    }
  }
  ul.resource-list {
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;

    >li {
      overflow: hidden;
      @include clearfix;
      position: relative;
      padding: #{$vertical-beat * 3} 0;
      border-bottom: 1px solid $gray-lite;
      &:last-of-type {
        border-bottom: none;
      }
    }
    h2 {
      @include column(10, 21);
      padding-right: $mobile-global-padding;
      a {
        color: $blue;
        text-decoration: underline;
      }
      .icon {
        top: 8px;
        right: 0;
        position: absolute;
        fill: $brand-primary;
        text-decoration: none;        
        transition: opacity .2s ease-out;
      }
      .icon-arrow-right {
        opacity: 0;
        width: 11px;
        height: 14px;
        animation: fadeIn .2s .2s forwards;
      }
      .icon-close {
        opacity: 0;
        width: 16px;
        height: 16px;
        animation: fadeOut .2s forwards;
      }
    }
    h3 {
      text-transform: none;
      letter-spacing: 0;
      color: $blue;
      margin-bottom: 0;
      +ul {
        margin-top: 0;
      }
    }
    .item-content {
      opacity: 0;
      display: none;
      @include column(10,21);
      transition: opacity .2s ease-out;
      > p {
        margin-top: 0;
      }
    }
    li.active {
      .item-content {
        opacity: 1;
      }
      h2 {
        .icon-arrow-right {
          animation: fadeOut .2s forwards;
        }
        .icon-close {
          animation: fadeIn .2s .2s forwards;
        }
      }
    }

    @include media-md {
      .item-content {
        padding-left: #{$column-width * 1};
      }
      h2 {
        padding-right: #{$column-width * 2};
          right: 32px;
        }
      }
    }
  }
}

.resource-filter {
  @include clearfix();

  label, select {
    float: left;
    height: 42px;
    font-size: 16px;
    color: $brand-primary;
    text-transform: uppercase;
    padding: #{$vertical-beat * 1};
    border: 1px solid $brand-primary;
  }
  select {
    max-width: 140px;
    border-left: none;
    padding-right: 34px;
  }

  @include media-md {
    @include column(10);
    label, select {
      letter-spacing: .2em;
    }
    select {
      max-width: none;
    }
  }
}