// Sign Up Page

form.signup-form {
  padding: #{$vertical-beat * 3} #{$column-width * 2} #{$vertical-beat * 5};

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  .contact-details {
    label {
      @extend .sr-only;
    }
    input {
      // height: #{$vertical-beat * 6};
      background: $gray-lite;
      padding: #{$vertical-beat * 2};
      border: none;
      width: 100%;
      margin-bottom: #{$vertical-beat * 1};
      transition: background .1s ease-out, outline .1s ease-out;
      &:hover {
        background: lighten($gray-lite, 5);
      }
      &:focus {
        outline: 1px solid $brand-primary;
      }
    }
  }
  .required {
    font: 11px/24px $sans;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  h2 {
    font: 16px/24px $sans;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-bottom: #{$vertical-beat * 3};
  }
  .actions {
    @include clearfix();
  }
  .checkboxes {
    padding: #{$vertical-beat * 2} 0;
    label {
      display: block;
      margin-top: 10px;
      position: relative;
      padding-left: 20px;
      input {
        top: 4px;
        left: 0;
        position: absolute;
      }
    }
  }
  .btn-wrap {
    padding: 0;
    float: left;
    input[type=submit] {
      width: 100%;
      border: none;
      background: none;
      line-height: 1.5em;
      @include small-caps();
      font-size: 16px;
      padding: 6px 50px 4px 10px;
      &:focus {
        outline: none;
        background: lighten($gray-lite, 5);
      }
      &:focus:hover {
        background: none;
      }
    }
  }
  @include media-md {
    padding: #{$vertical-beat * 6} #{$column-width * 1 * 23/11} #{$vertical-beat * 8};

    h2 {
      margin-bottom: #{$vertical-beat * 5};
    }
    p.required {
      float: left;
    }
    .checkboxes {
      padding: #{$vertical-beat * 3} 0 #{$vertical-beat * 8};
      label {
        width: 50%;
        float: left;
      }
    }
    .btn-wrap {
      float: right;
      input[type=submit] {
        width: auto; 
      }
    }
  }

}

.page.sign-up {
  .page-content {
    @include column(12);
    background: $blue;
    color: $white;
    padding: #{$vertical-beat * 4} #{$mobile-column-width * 1} #{$vertical-beat * 6};
    h3.tab {
      background: $white;
      color: $blue;
    }
    @include media-md {
      h3.tab {
        top: #{$vertical-beat * 8};
      }
      h2 {
        margin-top: -6px;
        font: 48px/48px $sans;
      }
      p {
        font: 32px/40px $sans;
        @extend %smooth;
      }
      padding: #{$vertical-beat * 8} #{$column-width * 1} #{$vertical-beat * 8};
    }
  }

  .form-content {
    @include column(11);
    background: $white;

  }
}

// Investor dropdown form
.investor-form-container {
  right: 0;
  top: 62px;
  width: 100%;
  display: none;
  z-index: 1000;
  background: $white;
  position: absolute;
  transform: translateY(-100%);
  transition: transform .3s ease-out;
  &.-active {
    display: block;
  }
  &.-show {
    transform: translateY(0);
  }
  @include media-md {
    width: #{100% / 24 * 11};
    right: #{100% / 24 * 1};
  }

  // close button
  button.close {
    position: absolute;
    right: #{$column-width * 2};
    top: #{$vertical-beat * 3};
    .plus {
      &::before,
      &::after {
        background: $brand-primary;
      }
    }
    @include media-md {
      top: 60px;
      right: -$column-width;
      transform: translateX(50%);
      .plus {
        &::before,
        &::after {
          background: $white;
        }
      }
    }
  }
}
.admin-bar .investor-form-container {
  @include media-md {
    top: 94px;
  }
}