// Sign Up Page

.page-template-sign-up,
body.thank-you {
  .page-content {
    @include column(12);
    background: $blue;
    color: $white;
    padding: #{$vertical-beat * 4} $mobile-global-padding #{$vertical-beat * 6};
    h3.tab {
      background: $white;
      color: $blue;
    }
    @include media-md {
      h3.tab {
        top: #{$vertical-beat * 8};
      }
      h2 {
        margin-top: -6px;
        font: 48px/48px $sans;
      }
      p {
        font: 32px/40px $sans;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      padding: #{$vertical-beat * 8} $global-padding #{$vertical-beat * 8};
    }
  }

  .form-content {
    background: $white;
    @include column(11);
    padding: $mobile-global-padding;
    @include media-md {
      padding: $global-padding;
    }
  }
}

// Investor dropdown form
.investor-form-container {
  right: 0;
  top: 62px;
  width: 100%;
  display: none;
  z-index: 1000;
  background: $white;
  position: absolute;
  transform: translateY(-100%);
  padding: $mobile-global-padding;
  transition: transform .3s ease-out;
  &.-active {
    display: block;
  }
  &.-show {
    transform: translateY(0);
  }
  @include media-md {
    right: $global-padding;
    width: #{100% / 24 * 11};
    padding: #{$vertical-beat * 6} $global-padding #{$vertical-beat * 8};
  }

  // close button
  button.close {
    top: 34px;
    position: absolute;
    right: $mobile-global-padding;
    .plus {
      &::before,
      &::after {
        background: $brand-primary;
      }
    }
    @include media-md {
      top: 51px;
      transform: translateX(50%);
      right: -#{$global-padding / 2};
      .plus {
        &::before,
        &::after {
          background: $white;
        }
      }
    }
  }

  // The form itself
  form {

    label {
      position: absolute;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      padding:0;
      border:0;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }
    .gfield_radio {
      label {
        clip: initial;
        width: auto;
        height: auto;
        position: relative;
      }
    }
    .required {
      font: 11px/24px $sans;
      text-transform: uppercase;
      letter-spacing: .2em;
    }
    h2, h3 {
      padding-right: 28px;
      letter-spacing: .2em;
      font: 16px/24px $sans;
      text-transform: uppercase;
      margin-bottom: #{$vertical-beat * 3};
    }
    .gfield_radio {
      @include clearfix();
      padding: #{$vertical-beat * 2} 0;
      li {
        margin-top: 10px;
        position: relative;
      }
      label {
        display: block;
        position: relative;
        padding-left: 20px;
      }
      input {
        top: 4px;
        left: 0;
        position: absolute;
      }
    }

    @include media-md {

      h2 {
        padding-right: 0;
        margin-bottom: #{$vertical-beat * 5};
      }
      .gfield_radio {
        padding: #{$vertical-beat * 3} 0 0;
        li {
          width: 50%;
          float: left;
          &:first-of-type {
            padding-right: 20px;
          }
        }
      }
    }

  }
}
// If wordress admin bar
.admin-bar .investor-form-container {
  top: 94px;
}