// Single Posts

body.single-country,
body.single-industry {
  // Faux overlay styling
  .site-wrap {
    background: rgba($overlay-color,.9);
    padding: #{$vertical-beat * 8} 0;
  }
  // We don't want position: absolute
  .active-grid-item-container {
    position: relative;
  }
}

.single-post {

  article {
    @include clearfix;

    main {
    }

    header {
    }

    .user-content {
      h1, h2, h3, h4 {
      }

      img {
      }

      figure, figure:first-child {
        margin: 30px 0;
      }

      figure > img,
      figure >img:first-child {
        margin: 0;
      }

      figcaption {
      }

      blockquote {
      }
    }
  }

}