// import gridle
@import "bower_components/gridle/sass/gridle/gridle";

// setting up the grid
@include gridle_setup( (
    context : 24,
    gutter-width : 0,
) );

// make the use of media queries really easy
@include gridle_register_state ( mobile , (
    max-width : 480px
) );
@include gridle_register_state ( tablet , (
    min-width : 481px,
    max-width : 1024px
) ) ;
