// Typography

@font-face {
  font-family: 'apercu_regular';
  src: url('../fonts/apercu_regular.eot');
  src: url('../fonts/apercu_regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/apercu_regular.woff') format('woff'),
       url('../fonts/apercu_regular.woff2') format('woff2'),
       url('../fonts/apercu_regular.ttf')  format('truetype'),
       url('../fonts/apercu_regular.svg#apercuregular') format('svg');
}
@font-face {
  font-family: 'apercu_regular_italic';
  src: url('../fonts/apercu_regular_italic.eot');
  src: url('../fonts/apercu_regular_italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/apercu_regular_italic.woff') format('woff'),
       url('../fonts/apercu_regular_italic.woff2') format('woff2'),
       url('../fonts/apercu_regular_italic.ttf')  format('truetype'),
       url('../fonts/apercu_regular_italic.svg#apercuitalic') format('svg');
}
@font-face {
  font-family: 'apercu_bold';
  src: url('../fonts/apercu_bold.eot');
  src: url('../fonts/apercu_bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/apercu_bold.woff') format('woff'),
       url('../fonts/apercu_bold.woff2') format('woff2'),
       url('../fonts/apercu_bold.ttf')  format('truetype'),
       url('../fonts/apercu_bold.svg#apercubold') format('svg');
}

// Fonts
$sans: 'apercu_regular', Helvetica, sans-serif;
$serif: Georgia, serif;

// Sans-specific styles to chunk into one include
@mixin font-sans() {
}
// Serif-specific styles to chunk into one include
@mixin font-sans() {
}

h1,h2,h3,h4 {
  font-weight: normal;
  @extend %smooth;
  &:first-of-type {
    margin-top: 0;
  }
}
h1,.h1 {
  font: 48px/48px $sans;
}
h2,.h2 {
  font: 32px/40px $sans;
}
h3,.h3 {
  font: 16px/24px $sans;
  text-transform: uppercase;
  letter-spacing: .2em;
}

@mixin small-caps() {
  font: 11px/24px $sans;
  text-transform: uppercase;
  letter-spacing: .2em;
}

// Hide fonts while loading from Typekit
.wf-loading {
  visibility: hidden;
}

//sizes
$small: 0.5em;
$med: 1em;
$big: 3em;