// Variables

// Colors
$black: #101220;
// $black-lite: #101220;
$white: #fff;
$gray-lite: #d7d7d4;
$gray: #aaaaa6;
$gray-dark: #605e56;
$blue: #191eff;
$blue-alt: rgb(0,20,255);
$blue-dark: #2d335b;
$overlay-color: #101220;
$green: #0a4230;

// Brand Swatches
$brand-primary: $blue;
$brand-secondary: $white;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1000px;
$breakpoint-huge: 1200px;
$breakpoint-nav: 990px;