// Variables

// Colors

$black: #101220;
// $black-lite: #101220;
$white: #fff;
$gray-lite: #d1d1c9;
$gray: #969696;
$gray-dark: #66635b;
$blue: #191eff;

// Brand Swatches
$brand-primary: $blue;
$brand-secondary: $white;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1000px;
$breakpoint-huge: 1200px;
$breakpoint-nav: 1050px;