// Variables

// Colors

$black: #202020;
$black-lite: #444648;
$white: #fff;
$gray-lite: #DCDCDC;
$gray: #969696;
$gray-dark: #555;

// Brand Swatches
$brand-primary: $black;
$brand-secondary: $white;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;